body{
    height: 100vh;
    background: linear-gradient(black, white,black);
    align-items: center;
    justify-content: center;
    display: flex;
}
.central{
    background: rgba(255, 255, 255, 0.534);
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur(3px);
    align-items: center;
    justify-content: center;
    gap: 5px ;
    border-radius: 40px;

}
.central input{
    width: 80%;
    height: 20px;
    border: 1px solid black;
}
.central h1{
    font-size: 25px;
}
.central button{
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
    border-radius: 10px;
    &:hover{
  background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        box-shadow:
        0 0 5px rgb(255, 254, 254),
        0 0 10px rgb(197, 190, 190),
        0 0 20px rgb(162, 168, 170),
        0 0 30px  rgb(255, 255, 255);
        transition: 0.7s;
        transform: scale(1.1);
    }

}
.central span{
    font-size: 20px;
    color: black;
}