@font-face {
    font-family: relogio;
    src: url(/fontes/DS-DIGI.TTF);
}

body{
    height: 100vh;
    background: url(/img/homem_aranha.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.central{
    background: #fdcfb54b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width:fit-content;
    backdrop-filter: blur(3px);
    border-radius: 15px;

}
.central div{
    background: #6ccbcd60;
    color: white;
    padding: 20px;
    border-radius: 50%;
    font-size: 100px;
    backdrop-filter: blur(5px);
    font-family: relogio;
}

.central span{
    color: white;
    font-size: 100px;
}
